{% extends 'layout.twig' %}

{% block body %}
    <div class="login100-form validate-form">
	<span class="login100-form-title p-b-26">
		Welcome to EOSconnect
	</span>
        <span class="p-b-26 login100-form-description">v0.4Beta</span>
        <span class="login100-form-title p-b-48">
		<img src="/api/v1/app/eosconnect.logo">
	</span>
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <a href="{{ login_url }}"
               class="btn-eosconnect login100-form-btn">
                <img src="/api/v1/app/eosconnect.logo">
                Login with EOSconnect
            </a>
        </div>
    </div>
{% endblock %}