{% extends './layout.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>My Apps
                <small>This are my apps</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for app in apps %}
                    <li class="list-group-item">
                        <a href="/int/apps/{{ app.name }}">{{ app.name }}</a>
                    </li>
                {% endfor %}
                <li class="list-group-item">
                    <a href="/int/apps/new">
                        <i class="fa fa-plus"></i>
                        New App
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
